*{
    font-family: Roboto, sans-serif;
    margin: 0;
}
  
.header
{
    color: white;
    background-color: #1F2937;
    height: 65dvh;
    padding-top: 2%;
}
.top-page
{  
    display: flex;
    margin-left:10%;
    margin-right: 10%;
    justify-content: space-between;
    
}

.navbar ul
{
    
    display:flex;
    gap: 30px;
    align-items: flex-end;
    padding:0.5px;
    list-style: none;
}

.nav-link
{
    color: white;
    text-decoration: none;
}

.hero-section
{
    display:flex;
    gap:20dvh;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    height: fit-content;
    padding: 0;
    font-size: 18px;
}

.hero-left p
{
    margin-top: 1%;
    width:30dvw;  
}

.hero-left h1
{
    font-size: 48px;
    margin-top: 0;
}
.hero-button
{
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    font-size:18px;
    margin-top: 15px;
    width:19dvh;
    height: 6dvh;  
}
.hero-right
{
    display: flex;
    align-items:flex-end;
}

.hero-image
{

   width:80dvh;
   height: 35dvh;
}

/* Second section */
.part2
{
    color:#3882F6
}

.title
{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}


.image-border
{
    width: 200px;
    height: 200px;
    margin-left:15%;
    border:5px solid #3882F6;
    border-radius: 25px;
}

.cards p
{
    color: #E5E7EB;
    margin-left: 30%;
    width:150px;
    text-align: center;
}

.testimonials
{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap:50px;
    margin-bottom: 12%;
}






